In [41]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
%matplotlib inline

In [42]:
data = pd.read_csv("mnist.csv")

In [43]:
data.head()

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.623,0.624,0.625,0.626,0.627,0.628,0.629,0.630,0.631,0.632
0,7,0,0,0,0,0,0,0,0,0,...,89,245,232,41,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,146,254,142,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
a = data.iloc[3,1:].values

In [72]:
def_x = data.iloc[:,1:]
def_y = data.iloc[:,0]

In [73]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.2 , random_state=4)

In [74]:
x_train.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.623,0.624,0.625,0.626,0.627,0.628,0.629,0.630,0.631,0.632
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,146,254,142,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,89,245,232,41,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
y_train.head()

3    9
0    7
1    1
2    3
Name: 1, dtype: int64

In [76]:
rf = RandomForestClassifier(n_estimators=100)

In [77]:
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [78]:
pred = rf.predict(x_test)

In [79]:
pred

array([1, 7])

In [80]:
s = y_test.values
count=0
for i in range (len(pred)):
    if pred[i]==s[i]:
        count+=1

In [81]:
count

2

In [82]:
len(pred)

2

In [83]:
2/2

1.0